.cffree {
	width: 400px;
	font-family:Verdana, Geneva, sans-serif;
}
.cffree_td {
	padding:4px;
	font-size:12px;
}
.cffree p {
	padding:4px;
}
.cffree label {
	padding:4px;
}
label {
 padding-right:10px
}
.required {
 
}
.required_star {
 font-weight:bold;
 color:#F00;
}
.not-required {
 font-weight:normal
}